@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--按钮-->
                <div class="layui-card-header">
                    类的详解
                    <button class="layui-btn layui-btn-small" onclick="location.reload()" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></button>
                </div>
                <!--表格主体-->
                <div class="layui-card-body ">
                </div>
            </div>
        </div>
    </div>
</div>
