<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="~/Css/X-admin/font.css" rel="stylesheet" />
    <link href="~/Css/X-admin/xadmin.css" rel="stylesheet" />
    <script charset="utf-8" src="~/Scripts/lib/layui/layui.js"></script>
    <script type="text/javascript" src="~/Scripts/X-admin/xadmin.js"></script>
    <script>
        layui.config({ dir: '/Scripts/lib/layui/' });
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
    <!-- 顶部 -->
    <div class="container">
        <div class="logo">
            <a href="./index.html">X-admin v2.2</a>
        </div>
        <div class="left_open">
            <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">+新增</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd>
                        <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">
                            <i class="iconfont">&#xe6a2;</i>弹出最大化
                        </a>
                    </dd>
                    <dd>
                        <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                            <i class="iconfont">&#xe6a8;</i>弹出自动宽高
                        </a>
                    </dd>
                    <dd>
                        <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                            <i class="iconfont">&#xe6a8;</i>弹出指定宽高
                        </a>
                    </dd>
                    <dd>
                        <a onclick="xadmin.add_tab('在tab打开','member-list.html')">
                            <i class="iconfont">&#xe6b8;</i>在tab打开
                        </a>
                    </dd>
                    <dd>
                        <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">
                            <i class="iconfont">&#xe6b8;</i>在tab打开刷新
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">admin</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd>
                        <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a>
                    </dd>
                    <dd>
                        <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a>
                    </dd>
                    <dd>
                        <a href="./login.html">退出</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index">
                <a href="/">前台首页</a>
            </li>
        </ul>
    </div>
    <!-- 左侧菜单 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav"></ul>
        </div>
    </div>
    <!-- 右侧主体 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home">
                    <i class="layui-icon">&#xe68e;</i>我的桌面
                </li>
            </ul>
            <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                <dl>
                    <dd data-type="this">关闭当前</dd>
                    <dd data-type="other">关闭其它</dd>
                    <dd data-type="all">关闭全部</dd>
                </dl>
            </div>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='./welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
            <div id="tab_show"></div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <style id="theme_style"></style>
</body>
</html>
<script>
    layui.use(['jquery'], function myfunction() {
        var $ = layui.jquery;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMenu", "Home")',
            data: {},
            success: function (result) {
                if (result.Success) {
                    var str = "";
                    console.log(result.Data);
                    for (var i in result.Data) {
                        str += "<li>";
                        str += "<a ";
                        if (result.Data[i]["Area"]!=null) {
                            str += " onclick=\"xadmin.add_tab('" + result.Data[i]["Name"] + "','"+ result.Data[i]["Area"] + "/" + result.Data[i]["Controllers"] + "/" + result.Data[i]["Action"] + "')\" ";
                        }
                        str += ">";
                        if (result.Data[i]["Icon"] != null) {
                            str += "<i class='iconfont left-nav-li' lay-tips='会员管理'>" + result.Data[i]["Icon"] + "</i>";
                        }
                        str += "<cite>" + result.Data[i]["Name"] + "</cite>";
                        str += "<i class='iconfont nav_right'>&#xe6a7;</i>";
                        str += "</a>";
                        if (result.Data[i]["children"] != null) {
                            str += SerializeList(result.Data[i]["children"]);
                        }
                        str += "</li>";
                    }
                    $("#nav").html(str);
                    console.log(str);
                } else {
                    layer.alert(result.Message, { icon: 2 });
                }
            },
            error: function () {
                layer.alert("服务器出错！", { icon: 2 });
            }
        });
    })

    //序列化数据
    function SerializeList(list) {
        var str = "";
        if (list.length > 0) {
            str = "<ul class='sub-menu'>";
            for (var i in list) {
                str += "<li>";
                str += "<a ";
                if (list[i]["Area"] != null) {
                    str += " onclick=\"xadmin.add_tab('" + list[i]["Name"] + "','" + list[i]["Area"] + "/" + list[i]["Controllers"] + "/" + list[i]["Action"] + "')\" ";
                }
                str += ">";
                str += "<i class='iconfont'>&#xe6a7;</i>";
                if (list[i]["Icon"]!=null) {
                    str += "<i class='iconfont left-nav-li' lay-tips='会员管理'>" + list[i]["Icon"] + "</i>";
                }
                str += "<cite>" + list[i]["Name"] + "</cite>";
                str += "</a>";
                if (list[i]["children"]!=null) {
                    str += SerializeList(list[i]["children"]);
                }
                str += "</li>";
            }
            str += "</ul>";
        }
        return str;
    }
</script>